{% extends 'tournaments/base.html' %}
{% block content %}
    <h1>tournaments</h1>
    <p>{{ request.user }}</p>
    <a href="{% url 'tournaments:create_tournament' %}">create tournament</a></p>
    <a href="{% url 'tournaments:logout' %}">logout</a>
    {% if tournaments %}
    {% for tournament in tournaments %}
        <p>{{ tournament.title }} by {{ tournament.organizer }}</p>
        <p>{{ tournament.game }}</p>
        <p>{{ tournament.deadline }}</p>
        <p>{{ tournament.country_restriction }}</p>
        <p>{{ tournament.prize_pool }}</p>
        <p>{{ tournament.registration_fee }}</p>
    {% endfor %}
    {% else %}
        non available
    {% endif %}
{% endblock %}