{% extends 'tournaments/base.html' %}
{% block content %}
{% load static %}
<div class="text-center">
    <h1>Welcome to GGgulag Tournaments</h1>
    <p>Find a tornament tot join down below!</p>
</div>
    {% if tournaments %}
    <div class=" row"> 

    {% for tournament in tournaments %}
    <!-- <div style="padding: 2rem;" class="container-fluid container-xl d-flex flex-column  justify-content-between">
        <a href="{% url 'tournaments:view_tournament' id=tournament.id %}">
        <h2>{{ tournament.title }}by {{ tournament.organizer.username }}</h2>
        <p></p>
        <p>{{ tournament.deadline }}</p>
        <p>{{ tournament.country_restriction }}</p>
        <p>{{ tournament.prize_pool }}</p>
        <p>{{ tournament.registration_fee }}</p></a>
    </div> -->
    <div class="col-md-4 col-sd-2">
    <div class="card p-3" style="width: 25rem; margin: 2rem 0;">

        {% if tournament.image %}
            <img src="media/{{ tournament.image }}" class="card-img-top img-fluid"  alt="{{ tournament.name }} Image">
        {% else %}
            <img class="card-img-top" src="{% static 'img/post-landscape-5.jpg' %}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tournament.title }}</h5>
          <p class="card-text">{{ tournament.game }}</p>
          <a href="{% url 'tournaments:view_tournament' id=tournament.id %}" class="btn btn-primary">View tournament</a>
        </div>
      </div></div>
    {% endfor %}
</div>
    {% else %}
        non available
    {% endif %}
{% endblock %} 

