{% extends 'tournaments/base.html' %}
{% block content %}
    {% if tournament.organizer == user %}
    <p><a href="{% url 'tournaments:edit_tournament' id=tournament.id  %}">edit tournament</a>    <a href="{% url 'tournaments:delete_tournament' id=tournament.id  %}">delete tournament</a>  </p>
    {% endif %}
    <h1>{{ tournament.title }} by {{ tournament.organizer }}</h1>
    <p>{{ tournament.game }}</p>
    <p>{{ tournament.deadline }}</p>
    <p>{{ tournament.country_restriction }}</p>
    <p>{{ tournament.prize_pool }}</p>
    <p>{{ tournament.registration_fee }}</p>
    <p>
        participants: {{ tournament.participant.count }}
    </p>
    <a href="{% url 'tournaments:list_tournaments' %}">back</a></p>
    
    {% if is_participant %}
    <form method="post" action="{% url 'tournaments:view_tournament' tournament.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="leave">
        <input type="submit" value="Leave Tournament">
    </form>
{% else %}
    <form method="post" action="{% url 'tournaments:view_tournament' tournament.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="join">
        <input type="submit" value="Join Tournament">
    </form>
{% endif %}

{% endblock %}